.Board {
  position: absolute;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  height: 80px;
  background-color: lightgreen;
  border-top: 1px solid black;
  border-bottom: 5px solid pink;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: monospace;
  font-size: 50px;
  font-weight: bold;
  padding: 20px;
}

.loggedUser {
  font-size: 20px;
  padding: 20px;
}

.main {
  flex: 1;

  display: flex;
}

.vote {
  flex: 2;
}

.matches {
  flex: 1;

  border-left: 1px solid lightgrey;
  background-color: lightgrey;

  display: flex;
  flex-direction: column;
}

.matchesTitle {
  font-size: 30px;
  text-align: center;
}

.matchesBody {
  flex: 1;
}

.footer {
  height: 30px;
  border-top: 1px solid black;
}
